@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=light_mode");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

body {
    font-family: 'Comic Neue', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

li{
    list-style: none;
    
}
h2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.material-symbols-outlined {
    position: fixed;
    right: 10px;
    display: flex;
    justify-content: center;
    top: 10px;
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    border: 2px solid black;
}

.listaTarefas {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

#inputTarefa {
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    font-family: 'Comic Neue', 'sans-serif';
}

#botaoMais {
    width: 45px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Comic Neue', 'sans-serif';

}

.progress {
    display: flex;
    justify-content: center;
    padding-top: 400px;
}


progress {
    width: 445px;
    height: 30px;
    appearance: none;
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
}

#progress-text {
    font-size: 14px;
    color: #555;
}